.App {
  width: 30rem;
  height: 10rem;
}


.test1 {
  display: flex;
  justify-content: space-around;
}
.componentOne, .componentTwo, .componentThree, .componentFour {
  width: 50%;
  height: 5rem;
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out,
  transform 150ms ease;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: auto;
}
.componentOne:hover,
.componentTwo:hover,
.componentThree:hover,
.componentFour:hover {
  background: #99C3F7;
}


.test2 {
  display: flex;
  justify-content: space-around;
}

.buttonContainer {
  padding-top: 10%;
  border-top: 1px solid black;
  border-right: 1px solid black;
  width: 50%;
  margin-left: -55px;
}
