body {
  background-color: hsl(150, 100%, 60%)

}

.App {
  width: 50%;
  margin-left: 25%;
  margin-top: 20%;
}


.test1, .test2 {
  display: flex;
  justify-content: space-around;
}
.componentOne,
.componentTwo,
.componentThree,
.componentFour {
  width: 50%;
  height: 10rem;
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background-color: hsl(213, 100%, 46%);
  color: hsl(0, 0%, 100%);
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out,
  transform 150ms ease;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: auto;
}

.componentOne:hover,
.componentTwo:hover,
.componentThree:hover,
.componentFour:hover {
  background: hsl(213, 85%, 78%);
}

.componentOne {
  border-right: 1px solid hsl(213, 85%, 78%);
  border-bottom: 1px solid hsl(213, 85%, 78%);
}
.componentThree{
  border-right: 1px solid hsl(213, 85%, 78%);
}
.text {
  text-align: center;
  padding-top: 3rem;
}




.buttonContainer {
  padding-top: 10%;
  border-top: 1px solid black;
  border-right: 1px solid black;
  width: 50%;
  margin-left: -55px;
}
